@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
       url('../fonts/gilroyextrabold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight-webfont.woff2') format('woff2'),
       url('../fonts/gilroylight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.15px;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat; 
}

.main-container {
  width: 100%;
  /*background-color: #ffffff;*/
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

.user-navigation,
.main-catalog-navigation-list,
.main-catalog-navigation,
.main-services-navigation,
.promo-slider-list,
.device-catalog,
.services-slider,
.logo-list-content,
.main-footer-start,
.footer-user-navigation,
.footer-site-navigation,
.social-nets,
.transport-companies,
.services-names-list,
.slide-switches {
  list-style: none;
}

/*ХЕДЕР*/
.main-container-header {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position: relative;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  width: 1160px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 300px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #f7e296;
  margin-bottom: -110px;
}

.main-container-header .main-header-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-container-header a:hover {
  opacity:0.6;
}

.main-container-header a:focus,
.main-container-header a:active {
  opacity:0.3;
}

a.main-header-logo {
  position: absolute;
  top: -23px;
  left: 57px;
  position: absolute;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: flex-end;*/
  width: 500px;
  margin:0;
  padding: 0;
}

.user-navigation a,
.main-navigation a,
.cart a {
  display: block;
}

.cart {
  position: relative;
  width: 100px;
}

.compare {
  position: relative;
  width: 120px;
}

.user-link{
  /*display: flex;*/
  position: relative;
  width: 100px;
  margin-right: 180px;
}

.cart a {
  padding-left: 40px;
}

.compare a {
  padding-left: 27px;
}

.user-link a {
  padding-left: 27px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 17px;
  
  width: 14px;
  height: 14px;
  
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.compare::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 7px;
  
  width: 12px;
  height: 12px;
  
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-link::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0px;
  
  width: 14px;
  height: 14px;
  
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart:hover::before,
.compare:hover::before,
.user-link:hover::before {
  opacity: 0.8;
}

.cart:focus::before,
.cart:active::before,
.compare:focus::before,
.compare:active::before,
.user-link:focus::before,
.user-link:active::before{
  opacity: 0.3;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1040px;
  margin: 0 auto;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  /*background-color: #f7e296;*/
}

.main-catalog-navigation {
  margin:0;
  padding: 0;
}

li.top {
  display: block;
  position: relative;
  width: 300px;
}

li.top::before {
  content: " ";

  position: absolute;
  top: 3px;
  right: 54px;
  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.main-services-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  /*margin:0;*/
  padding: 0;
  margin: 0;
}

.main-services-navigation a {
  display: block;
}

.main-services-navigation li:nth-child(1) {
  width: 125px;
}

.main-services-navigation li:nth-child(2) {
  width: 190px;
}

.main-services-navigation li:nth-child(3) {
  width: 120px;
}

.search-form {
  width: 440px;
  margin-right: 100px;
}

.main-header-start {
  width: 1040px;
  margin: 0 auto;
  padding-top: 43px;
  margin-bottom: 27px;
  /*min-height: 80px;*/
}

/*ФОРМА НАЙТИ*/
.search-form {
  position: relative;
}

.search-form input {
  display: block; 
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*min-height: 49px;*/
  width: 355px;
  padding-left: 35px;
  padding-bottom: 10px;
  float: left;
  background-color: transparent;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  opacity: 0.3;

  border: 2px solid transparent;
  border-right: 0px;
  border-top: 0;
  border-bottom-color: transparent; 
  outline: none;
  cursor: pointer;
}

.search-form button {
  display: none;
  /*float: left;*/
  position: absolute;
  top: -6px;
  right: 4px;
  width: 85px;
  height: 48px;
  
  line-height: 44px;
  text-align: center;
  
  background: transparent;
  
  border: 2px solid #000;
  outline: none;
}

.search-form::before {
  content: " ";
  position: absolute;
  top: 7px;
  left: 2px;

  width: 20px;
  height: 20px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  opacity: 1;
}

.search-form:hover::before {
  opacity: 1;
}

.search-form:focus::before {
  opacity: 1;
}

.search-form input[type="text"]:hover {
  opacity: 0.6;
}

.search-form input[type="text"]:focus,
.search-form input[type="text"]:active {
  border-bottom-color: #000;
  opacity: 1;
}


.search-form input:focus + button,
.search-form input:active + button {
  display: block;
}

.search-form button:hover {
  display: block;
  
  color: #fff;
  
  background: #000;
}

.search-form button:active {
  color: rgba(255, 255, 255, .3);
}

/*ПОДМЕНЮ*/

.col-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.col {
  margin-right: 40px;
}

.col1 {
  padding-left: 60px;
  width: 200px;
}

.col2 {
  width: 160px;
}

.col3 {
  width: 160px;
}

.main-catalog-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -60px;
  margin: 0;
  padding: 0;
  width: 1160px;
  min-height: 145px;
  background-color: #f7e296;
  padding-top: 20px;
  
  z-index: 1000;
}

.main-catalog-navigation-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.15px;
  text-transform: none;
  width: 600px;
}

ul.main-catalog-navigation-list {
  visibility:hidden;
}

li.top:hover ul.main-catalog-navigation-list {
  visibility:visible;
}

/*СЛАЙДЕР*/
.promo-slider {
  position: relative;
  width: 1160px;
  padding: 0;
  min-height: 500px; /*временно*/
  margin:0 auto;
  /*border:2px dotted black;*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 90px;
}

.promo-slider-list {
  margin: 0;
  padding: 0;
  position: relative;

}

.promo-slider-list > li {
  position: absolute;
  left: 0;
  top: 0;
}

.promo-slider-list h3 {
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  font-weight: 700;
}

.promo-slider-item {
  border-collapse: collapse;
}

th.table-title {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  font-weight: 300;
  padding: 0;
}

td.table-data {
  font-family: "Gilroy", Arial, sans-serif;;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-weight: 300;
  padding: 0 0 8px 0;
}

table.promo-slider-item td:nth-child(1) {
  width: 160px;
}

table.promo-slider-item td:nth-child(2) {
  width: 140px;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*position: absolute;*/
  /*top:0;*/
  /*left:600px;Почему не в самом углу заголовок?*/
  /*width: 100%
  height:100%;
  background-color:rgba(255,255,0,0.1);*/
}

.slide-photo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 580px;
  min-height: 500px;
  text-align: center;
}

.slide-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 580px;
  padding: 77px 0 0 20px;
}

.slide-text h3 {
  /*padding-top: 80px;*/
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  z-index: 0;
}

.slide-text h3::before {
  content:" ";

  position: absolute;
  top: -42px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slide01 h3::after {
  content:"01";
  top: -90px;
  right: 65px;

  position: absolute;
  width: 167px;
  height: 125px;

  font-family: "Gilroy", Arial, sans-serif;;
  font-size: 180px;
  line-height: 180px;
  letter-spacing: 1.8px;
  font-weight: 700;

  color: #ffffff;
}

.slide02 h3::after {
  content:"02";
  top: -90px;
  right: 88px;
  
  position: absolute;
  width: 167px;
  height: 125px;

  font-family: "Gilroy", Arial, sans-serif;;
  font-size: 180px;
  line-height: 180px;
  letter-spacing: 1.8px;
  font-weight: 700;

  color: #ffffff;
}

.slide03 h3::after {
  content:"03";
  top: -90px;
  right: 88px;
  
  position: absolute;
  width: 167px;
  height: 125px;

  font-family: "Gilroy", Arial, sans-serif;;
  font-size: 180px;
  line-height: 180px;
  letter-spacing: 1.8px;
  font-weight: 700;

  color: #ffffff;
  z-index: -1;
}

.slide-text p {
  margin-top: 0px;
  margin-bottom: 41px;
}

.slide-text a {
  margin-bottom: 48px;
}

.button {
  position: relative;
  
  width: 220px;
  height: 42px;
  display: block;
  
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 42px;
  letter-spacing: 3.6px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  
  background: transparent;
  border:none;
  /*outline: none;*/
  
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  z-index: -1;
  left: 0;
  right: 0;
  
  display: block;
  height: 8px;
  
  background: #f0c52e;
  border:none;
  
  -webkit-transition: .5s;
  
  -o-transition: .5s;
  
  transition: .5s;
}

.button:hover::before,
.button:active::before {
  top: 0;
  bottom: 0;
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, .3);
}

/*Переключатель слайдов*/

.promo-slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  top: 325px;
  right: 0px;
  width: 162px;
  height: 12px;
  /*text-align: center;*/
  /*outline:1px dotted green;*/
  z-index: 50;
}

/*Рисуем кружок*/

.slider-controls label {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display:inline-block;
  width: 12px;
  height: 12px;
  margin-right: 17px;

  background: white;
  border: 1px solid black;
  vertical-align: top;
  border-radius: 50%;
  cursor:pointer;
}

.slider-controls .active::before {
  content: " ";
  position: absolute;
  top:2px;
  left: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display:inline-block;
  width: 6px;
  height: 6px;
  margin-right: 17px;

  background: white;
  border: 1px solid black;
  vertical-align: top;
  border-radius: 50%;
  cursor:pointer;
}

.slide-1,
.slide-2,
.slide-3{
  display: none;
}

.active-slide {
  display: block;
}

/*.promo-slider-list li:nth-child(1){
  display:none;
}*/

/*Отключение 2 и 3его слайдера, временно*/
/*.promo-slider-list li:nth-child(2){
  display:none;
}*/

/*.promo-slider-list li:nth-child(3){
  display:none;
}*/

/*КАТАЛОГ УСТРОЙСТВ*/

.device-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.device-catalog-item {
  width: 160px;
}

.device-catalog-navigation {
  width: 1160px;
  margin:0 auto;
  margin-bottom: 164px;
}

.device-catalog-item a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  font-weight: 700;
}

.device-catalog-item a:focus {
  color: rgba(0, 0, 0, 0.3); 
}

/*Фон устройства*/

.device-catalog-content::before {
  display: block;
  width: 160px;
  height: 160px;  
  background-color: rgba(240,197,46,0.5);
  background-repeat: no-repeat;
  background-position: 50% 50%; 
  content:" ";
  margin-bottom: 0;
}

.device-catalog-content p {
  margin-top:33px;
}

.device-catalog-content:hover::before {
  background-color: rgba(240,197,46,1);
  content:" ";
}

.device-catalog-item a:focus .img-1::before {
  background-image: url("../img/popular-1-grey.svg");
}

.img-1::before {
  background-image: url("../img/popular-1.svg");
  
}

.img-2::before {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 97%;
}

.device-catalog-item a:focus .img-2::before {
  background-image: url("../img/popular-2-grey.svg");
}

.img-3::before {
  background-image: url("../img/popular-3.svg");
}

.device-catalog-item a:focus .img-3::before {
  background-image: url("../img/popular-3-grey.svg");
}

.img-4::before {
  background-image: url("../img/popular-4.svg");
}

.device-catalog-item a:focus .img-4::before {
  background-image: url("../img/popular-4-grey.svg");
}

.img-5::before {
  background-image: url("../img/popular-5.svg");
}

.device-catalog-item a:focus .img-5::before {
  background-image: url("../img/popular-5-grey.svg");
}

.img-6::before {
  background-image: url("../img/popular-6.svg");
}

.device-catalog-item a:focus .img-6::before {
  background-image: url("../img/popular-6-grey.svg");
}

/*СЛАЙДЕР-2*/

.services-names-list {
  margin: 0;
  padding: 0;
}

.services-slider {
  position: relative;

  margin: 0;
  padding: 0;
  padding-left: 117px;
}

.services-slider > li {
  position: absolute;
  left: 118px;
  top: 0;
}

.another-section {
  background-color: rgba(229, 229, 229, 1); 
  height: 288px;
  margin-bottom: 94px;
  /*background-color: #e5e5e5;*/
}

.services-content h3 {
  margin-top:0;
  padding: 0;
  margin-bottom: 31px;
}

.services-content p {
  position: relative;
}

.services-content p::before {
  content: " ";

  position: absolute;
  top: -86px;
  left: 524px;

  width: 200px;
  height: 200px;

  background-image: url("../img/delivery.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.services-slider-2 p {
  position: relative;
}

.services-slider-2 p::before {
  content: " ";

  position: absolute;
  top: -93px;
  left: 526px;

  width: 200px;
  height: 200px;

  background-image: url("../img/warranty.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.services-slider-3 p {
  position: relative;
}

.services-slider-3 p::before {
  content: " ";

  position: absolute;
  top: -98px;
  left: 510px;

  width: 200px;
  height: 200px;

  background-image: url("../img/credit.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.services-content p {
  margin: 0;
}

.main-container-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.services-content {
  width: 876px;
  -webkit-transform: translateY(-26px);
      -ms-transform: translateY(-26px);
          transform: translateY(-26px);
}

.services-names {
  width: 284px;  
  -webkit-box-sizing: border-box;  
          box-sizing: border-box;
  border-right: 7px solid black;
  padding-top: 80px;
  padding-bottom: 45px;
  -webkit-transform: translateY(-102px);
      -ms-transform: translateY(-102px);
          transform: translateY(-102px);
}

.transport-companies {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.18px;
  font-weight: 700;
}

.transport-companies-item-1::before {
  content: " ";
  position: absolute;
  top: 16px;
  left: -32px;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.transport-companies-item-2::before {
  content: " ";
  position: absolute;
  top: 57px;
  left: -32px;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.transport-companies-item-3::before {
  content: " ";
  position: absolute;
  top: 96px;
  left: -32px;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.button--slider {
  width: 160px;
  margin-bottom: 23px;
  /*outline: none;*/
} 

.button--slider:active {
  color: #f7e184;
  background: #000000;
}

.button--slider:active::after {
  content: "";
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: -120px;
  
  display: block;
  width: 120px;
  
  background: #000;
}

.button-current {
  color: #f7e184;
  outline: none;
  background: #000000;
}

.button-current::after {
  content: "";
  
  position: absolute;
  top: 0;
  bottom: 0;
  right: -120px;
  
  display: block;
  width: 120px;
  
  background: #000;
}

.services-slider-1,
.services-slider-2,
.services-slider-3 {
  display: none;
}

.services-slider-active {
  display: block;
}

/*Временно*/
/*.services-slider li:nth-child(2){
  display: none;
}

.services-slider li:nth-child(3){
  display: none;
}*/

/*КАРТИНКИ БРЕНДОВ*/

/*Фильтр для цветных картинок*/

.logo-list {

  width: 1160px;
  margin: 0 auto;
  margin-bottom: 145px;
}

.logo-list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.logo-list-content li {
  width: 260px;
  height: 100px;
  position: relative;
}

.logo-list-content img {
  position: absolute;
  top: 0;
  left: 0;
}

.default {
  opacity: 1;
}

.hover {
  opacity: 0;
}

.logo-list-content li:hover .hover {
  opacity: 1;
}

.logo-list-content li:hover .default {
  opacity: 0;
}

/*КОНТАКТЫ*/

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 460px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.transport-companies {
  margin: 0;
  padding: 0;
  -webkit-transform: translateX(34px);
      -ms-transform: translateX(34px);
          transform: translateX(34px);
  margin-bottom: 54px;
}

.about-us h2,
.contacts-map h2,
.services-content h3 {
  margin: 0 0 33px 0;
  padding: 0;
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-weight: 700;
}

.about-us h2,
.contacts-map h2 {
  margin-bottom: 43px;
}

.services-content h3 {
  margin-bottom: 29px;
}

.about-us {
  width: 500px;
  min-height: 460px;
}

.about-us h2 {
  position: relative;
}

.about-us h2::before {
  content: "";

  position: absolute;
  top: -53px;
  left: 0;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.contacts-map h2 {
  position: relative;
}

.contacts-map h2::before {
  content: "";

  position: absolute;
  top: -53px;
  left: 0;
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us p,
.contacts-map p {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.about-us .p1 {
  margin-bottom: 30px;
}

.about-us p {
  margin-bottom: 65px;
}

.index-columns .button {
  width: 260px;
}

.contacts-map {
  width: 560px;
}

.contacts-map p {
  margin-bottom: 40px;
}

.contacts-map figure {
  margin: 0;
}

.contacts-button-map{
  display: block;
  margin-bottom: 57px;
}

/*ФУТТЕР*/

.main-footer {
  margin-top: 80px;
  min-height: 322px;
  color: #ffffff;
  background-color: rgba(70,70,70,1);
}

.main-footer-start {
  position: relative;

  padding-top: 12px;
  margin-bottom: 35px;
  /*min-height: 100px;*/
}

.footer-user-navigation a{
  display: block;
  opacity: 0.7;
}

.footer-cart {
  position: relative;
  width: 100px;
}

.footer-compare {
  position: relative;
  width: 120px;
}

.footer-user-link {
  /*display: flex;*/
  position: relative;
  width: 90px;
  margin-right: 15px;
}

.footer-cart a {
  padding-left: 41px;
}

.footer-compare a {
  padding-left: 28px;
}

.footer-user-link a {
  padding-left: 26px;
}

.footer-cart svg {
  position: absolute;
  top: 12px;
  left: 17px;
  
  width: 12px;
  height: 12px;

  fill: #ffc600; 
  fill-opacity: 1;
}

.footer-compare svg {
  position: absolute;
  top: 12px;
  left: 7px;
  
  width: 12px;
  height: 12px;
  
  fill: #ffc600;
  fill-opacity: 1;
}

.footer-user-link svg {
  position: absolute;
  top: 11px;
  left: 0px;
  
  width: 13px;
  height: 12px;

  fill: #ffc600;
  fill-opacity: 1;
}

.footer-cart a:hover,
.footer-compare a:hover,
.footer-user-link a:hover {
  opacity: 1;
}

.footer-cart a:focus,
.footer-compare a:focus,
.footer-user-link a:focus {
  opacity: 0.3;
}

.footer-cart:hover path,
.footer-compare:hover path,
.footer-user-link:hover path {
  fill-opacity: 0.6;
}

.footer-cart:focus path,
.footer-compare:focus path,
.footer-user-link:focus path {
  fill-opacity: 0.3;
}

.footer-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  width: 1160px;
  margin-bottom: 62px;
  /*min-height: 50px;*/
}

.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 427px;
}

.footer-site-navigation a:hover {
  opacity:0.6;
}

.footer-site-navigation a:focus {
  opacity:0.3;
}

.social-nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 143px;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
  outline: none;
}

.social-button.fb {
  background-image: url("../img/fb.svg");
}

.social-button.instagram {
  background-image: url("../img/instagram.svg");
}

.social-button.twitter {
  background-image: url("../img/twitter.svg");
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:focus,
.social-button:active {
  opacity: 0.1;
}

.social-html {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-html::before {
  content: " ";

  position: absolute;
  top:15px;
  left: 0px;

  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.main-container-footer {
  width: 1160px;
  margin: 0 auto;
}

.main-footer a {
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 300;
  color: #ffffff;
}

.main-footer-start a {
  font:inherit;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 300;
}

 /*ЛОГОТИП*/

a.main-footer-logo {
  position: relative;
  bottom: -47px;
  left: -4px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffc600;
  cursor: pointer;
}

.main-footer-logo:hover {
  opacity: 0.6;
}

.main-footer-logo:focus,
.main-footer-logo:active {
  opacity: 0.3;
}

p.footer-contacts {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0px;
  font-weight: 300;
}

.footer-contacts {
  margin: 0;
  width: 260px;
  /*min-height: 100px;*/
  margin-right: 107px;
}

.footer-services p {
  /*margin: 0;*/
}

.footer-site-navigation a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.phone {
  margin: 0;
  width: 180px;
  text-align: right;
  margin-left: auto;
}

/*Копирайт*/

.footer-copyright {
  position: relative;
  width: 60px;
  text-align: right;
  margin: 0;
  margin-left: 449px;
}

.footer-copyright a {
 display: block;
}

.footer-copyright svg {
  position: absolute;
  top: -2px;
  left: 34px;
  
  width: 27px;
  height: 35px;

  fill: #ffc600; 
  fill-opacity: 1;
}

.footer-copyright:hover path {
  fill-opacity: 0.6;
}

.footer-copyright a:focus path {
  fill-opacity: 0.3;
}

/*ФОРМА*/
.write-us {
  position: fixed;
  background-color: #ffffff;
  left: 50%;
  top: 30%;
  z-index: 100;

  width: 760px;
  margin-left:-480px;
  /*height: 550px;*/
  padding: 90px 100px 78px 100px;
  -webkit-box-shadow: 0 15px 25px rgba(0,0,0,0.3);
          box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

.modal-close {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 22px;
  right: 17px;
  font-size: 0;
  background-color: transparent;
  border:none;
  background-image: url("../img/modal-close.svg");
  position: 50% 50%;
  background-repeat: no-repeat;
  outline: none;
  cursor: pointer;
  z-index: 5;
}

.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wtite-us-item {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  width: 360px;
}

.wtite-us-text {
  margin: 0;
  margin-bottom: 30px;
  width: 760px;
}

.wtite-us-item label,
.wtite-us-text label {
  display: block;
  margin-bottom: 8px;
}

.wtite-us-text textarea {
  margin: 0;
  padding: 0;
  width: 760px;
  padding-top: 12px;
  padding-left: 20px;
  resize: none;

}

.wtite-us-item input,
.wtite-us-text textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  color:rgba(0,0,0,0.4);
  font-size: 14px;
  line-height: 18px;
  outline: none;

  background-color: #f2f2f2;
}

.wtite-us-item input {
  width: 360px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 17px;
  border:3px solid transparent;
}

.wtite-us-item label,
.wtite-us-text label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  font-weight: 700;
}

.wtite-us-text textarea {
  width: 760px;
  height: 156px;
  border:3px solid transparent;
}

.wtite-us-item input[type="text"]:hover,
.wtite-us-item input[type="email"]:hover,
.wtite-us-text textarea:hover {
  background-color: #eaeaea;
}

.wtite-us-item input:focus,
.wtite-us-text textarea:focus,
.wtite-us-item input:active,
.wtite-us-text textarea:active {
  color:rgba(0,0,0,1);
  border: 3px solid #f7e296;
}

button.modal-close {
   opacity: 0.5;
}

button.modal-close:hover {
  opacity: 1;
}

button.modal-close:focus {
  opacity: 0.3;
}

.write-us {
  display: none;
}

input.modal-error {
  opacity: 0.4;
  background-color: #f6dada; 
}

.write-us .button {
  width:200px;
}

/*КАРТА*/

.modal-map {
  position: fixed;
  z-index: 5000;
  display: none;

  top:60%;
  left:50%;

  width: 960px;
  height: 559px;
  margin-top: -480px;
  margin-left: -480px;
  -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.3);
          box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.modal-map p {
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-show {
  display: block;
}

/*КАТАЛОГ*/

.inner-page .user-link {
  width: 160px;
  margin-right: 18px;
}

.inner-page .user-link a {
  display: block;
  width: 135px;
}

.user-out {
  margin-right: 57px;
  opacity: 0.3;
}

.inner-page .main-container-header {
  min-height: 186px;
  margin-bottom: 37px;
}

.page-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-weight: 700;

  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.main-container-inner {
  width: 1160px;
  padding: 0 60px;

  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*ХЛЕБНЫЕ КРОШКИ*/

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;

  margin: 0;
  padding: 0;
  margin-bottom: 43px;
}

.breadcrumbs li {
  position: relative;

  margin-right: 38px;
}

.breadcrumbs li::after {
  content: " ";

  position: absolute;
  top:12px;
  right: -19px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a,
.breadcrumbs-current span {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  font-weight: 300;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  opacity: 0.1;
}

.titles {
  width: 100%;
  background: -webkit-gradient(linear,left top, right top,from(#dbdbdb),color-stop(49%, #dbdbdb),color-stop(50%, #ebebeb),to(#ebebeb));
  background: -webkit-linear-gradient(left,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
  background: -o-linear-gradient(left,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
  background: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
}

.main-container-inner-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  width: 1160px;
  padding: 0 0 0 60px;

  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  width: 100%;
  background: -webkit-gradient(linear,left top, right top,from(#efefef),color-stop(49%, #efefef),color-stop(50%, #fff),to(#fff));
  background: -webkit-linear-gradient(left,#efefef 0%,#efefef 49%,#fff 50%,#fff 100%);
  background: -o-linear-gradient(left,#efefef 0%,#efefef 49%,#fff 50%,#fff 100%);
  background: linear-gradient(to right,#efefef 0%,#efefef 49%,#fff 50%,#fff 100%);
  /*padding-top: 70px;*/
}

.main-catalog {
  padding-top: 68px;
  padding-left: 72px;
  width: 832px;
  background-color: #fff;
}

h2.form-title,
h2.sorting-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  min-height: 70px;
  padding-top: 23px;
  /*margin-bottom: 95px;*/
}

h2.form-title {
  padding-right: 255px;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #dbdbdb;
  padding-right: 68px;
    /* box-sizing: border-box; */
  width: 268px;
}
  
/*ФИЛЬТР*/

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  border: none;
}

.filter legend {
  margin-bottom: 17px;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 700;
}

.filter legend {
  position: relative;
  margin-bottom: 25px;
}

legend.color {
  margin-bottom: 18px;
}

legend.blue {
  margin-bottom: 19px;
}

.filter legend::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

fieldset.bluetooth {
  margin-bottom: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  list-style: none;
}

.filter-option {
  margin-bottom: 0px;
  padding: 8px 0 8px 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: " ";
  position: absolute;

  left: -42px;
  top: 0;

  width: 26px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox + label:active::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked + label:active::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-input-radio + label::before {
  content: " ";
  position: absolute;

  left:-42px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-radio + label:active::before {
  background-image: url("../img/radio-on.svg");
}

.filter-input-radio:checked + label:active::before {
  background-image: url("../img/radio-off.svg");
}

/*.filter-input:focus + label::before,*/
.filter-option label:hover::before {
  opacity: 0.6;
}

.filter-input:active + label::before {
  opacity: 1;
}

.filter-input:disabled + label,
.filter-input:disabled + label::before {
  color: #a6a6a6;
  opacity: 0.25;
  pointer-events: none;
}

.filters {
  /*box-sizing: border-box;*/
  width: 200px;
  padding-right: 68px;
  padding-top: 81px;
  background-color: #efefef;
}

/*ФИЛЬТР_ЦЕНА*/

.range-filter {
  width: 200px; /*ширина фильтра*/
  margin-top: 10px;
}

.filter-item {
  margin: 0;
  padding: 0;

  border:none;
}

.range-controls {
  position: relative;
  /*min-height: 25px;/*высота шкалы*/
  margin-bottom: 4px;
  padding: 0 0;
  background: transparent;
  /*border-radius: 5px;*/
  /*overflow: hidden;*/
}

.range-controls .scale {
  margin-left: 4px;
  /*margin-top: 39px;*/
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toogle {
  position: absolute;
  top:-10px;
  left:0px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
}

.toogle:focus,
.toogle:active {
  top:-12px;
  width: 5px;
  height: 5px;
  border: 9px solid white;
}

.range-controls .min-toogle {
  left: -6px;
}

.range-controls .max-toogle {
  left: 107px;
}

.price-control-value-min,
.price-control-value-max {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 62px;
  padding-left: 0px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  font-weight: 300;
  opacity: 0.2;
}

.price-controls .price-control-value-min {
  margin-right: 23px;
}

.price-controls {
  white-space:nowrap;
}

.inner-page button.filter-button {
  width: 200px;
}

/*СОРТИРОВКА*/

.sorting {
  width: 760px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;
  /*padding-right: 226px;*/
}

.sorting-list-item-name {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  opacity: 0.3;
}

.sorting-list-item-name:hover {
  opacity: 0.6;
}

.sorting-list-item-name:focus,
.sorting-list-item-name:active {
  opacity: 1;
}

.current-sorting-list-item-name {
  opacity: 1;
}

.sorting-list li:first-child {
  width: 60px;
  margin-right: 25px;
}

.sorting-list li:nth-child(2) {
  margin-right: 31px;
}

.sorting-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 832px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebebeb;
  /*min-height: 73px;*/
  /*margin-bottom: 70px;*/
}

.sorting-top h2 {
  /*width: 160px;*/
  margin-right: 52px;
  padding-left: 75px;
}

.sorting-badges {
  width: 41px;
  min-height: 10px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.badges {
  opacity: 0.2;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
}

.badge-up {
  background-image: url("../img/icon-up-dir.svg");
}

.badge-down {
  background-image: url("../img/icon-down-dir.svg");
}

.badges:hover {
  opacity: 0.4;
}

.badges:focus,
.badges:active {
  opacity: 1;
}

.badge-active,
.badge-active:hover {
  opacity: 1;
}

/*КАРТОЧКИ ТОВАРОВ*/

.catalog {
  width: 760px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  margin:0 auto;
  padding: 0 0 0 60px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;

  margin: 0;
  padding: 0;
}

.catalog-col {
  width: 360px;
  margin-bottom: 43px;
  margin-right: 40px;
}

.catalog-col:nth-child(2n) {
  margin-right: 0;
}

.catalog-col:last-child {
  margin-bottom: 33px;
}

.catalog-item__picture-wrap {
  width: 360px;
  height: 380px;
  margin-bottom: 35px;
  background-color: #eeeeee;
}

.catalog-item {
  position: relative;
  /*display:inline-block;*/
  width: 360px;
  /*margin-right: 40px;*/
  margin-bottom: 0px;
  /*min-height: 505px;*/
  /*line-height: 24px;*/
}

.catalog-item .flag {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: 700;
  opacity: 0.2;
  position: absolute;
  top: 49px;  
  right: 10px;
  width: 60px;
  height: 60px;
  /*text-indent: -10000px;*/
  z-index: 20;
  display: none;
}

.catalog-item .flag::before {
  content: " ";
  position: absolute;
  top: -19px;  
  right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 50%;
  opacity: 0.2;
}

.catalog-item .flag-new {
  display: block;
}

.catalog-item .actions {
  position: absolute;
  top:0;
  left: 74px;
  width: 200px;
  height: 75px;
  padding-top: 170px;
  background-color: transparent;
  z-index: 10;
  /*opacity: 1;*/
  display: none;
}

.catalog-item .image {
  width: 360px;
  height: 380px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item__title {
  width: 260px;
}

.catalog-item__price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 80px;
  text-align: right;
  margin-top: 0px;
}

.catalog-item__picture-wrap:hover .picture,
.catalog-item__picture-wrap:focus .picture {
  opacity:0.3;
  cursor: pointer; /*Прозрачность картинки как задать?*/
}

.catalog-item__picture-wrap:hover .picture::before,
.catalog-item__picture-wrap:focus .picture::before {
  content: " ";
  width: 360px;
  height: 380px;
  background-color: red;
}

.catalog-item__picture-wrap:hover .actions {
  display: block;
  /*opacity: 1;*/
}

.catalog-item__content h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.catalog-item__price p {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 700;
  text-align: center;
  color: #464646;
}

.inner-page button.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  font-weight: 700;
  /*outline: none;*/
  z-index: 1;
}

.button-compare {
  display:block;
  width: 200px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  padding: 0;
  text-align: center;
  border: none;
  opacity: 0.5;
  background: none;

  cursor: pointer;
  outline: none;
}

.button-compare:hover {
  opacity: 1;
}

.button-compare:active {
  opacity: 0.2;
}

/*ПАГИНАЦИЯ*/

.pagination {
  background: #ebebeb;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  width: 760px;

  margin: 0;
  padding: 0;
  margin-bottom: 77px;
}

.pagination-item {
  display: block;
  min-width: 40px;
  text-align: center;
  /*padding-top:26px;*/
  /*padding-bottom: 26px;*/
  margin-right: 0;
  line-height: 24px;
  vertical-align: middle;
}

.pagination-item:nth-child(4) {
  margin-right: 0;
}

.pagination-item a,
.button-back {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  font-weight: 700;
  /*opacity: 0.3;*/
}

.pagination-item:first-child {
  margin-right: 192px;
}

.pagination-item:last-child {
  margin-left: auto;
  margin-right: -3px;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item-current a {
  opacity: 1;
}

.pagination-item a:hover {
  opacity: 0.6;
}

.pagination-item a:focus {
  opacity: 1;
}

.pagination-item a,
.pagination-item span {
  font-weight: bold;
  display: block;
  padding-top: 24px;
}

.forward-before a,
.forward-before span {
  display: block;
  padding: 23px 30px;
  
  text-transform: uppercase;
  font-weight: 700;
  opacity: 1;
}

.forward-before a:hover {
  opacity: 1;
  background-color: #d9d9d9;
}

.forward-before a:focus {
  opacity: 0.3;
  background-color: rgba(217,217,217,0.9);
}

.pagination .disabled{
  background-color: transparent;
}

/*ФУТЕР_КАТАЛОГ*/

.inner-page .main-footer {
  margin-top: 0px;
}

.inner-page .footer-user-link {
  width: 160px;
  margin-right: 20px;
}

.inner-page .footer-out-link {
  margin-right: 35px;
  opacity: 0.3;
}

.inner-page .footer-user-link a {
  padding-left: 28px;
}

/*----Сеточные стили--------*/

body {
  /*ВРЕМЕННО ДЛЯ СЕТКИ*/
  /*background-image: url("../img/device-index.jpg");*/
  /*background-size: 1440px auto;*/
  /*background-repeat: no-repeat;*/
}